[submodule "services/location"]
	path = services/location
	url = git@github.com:IshrakAdit/abad-location-service.git
[submodule "services/diary-ai"]
	path = services/diary-ai
	url = git@github.com:IshrakAdit/abad-diary-ai.git
[submodule "services/diary"]
	path = services/diary
	url = git@github.com:IshrakAdit/abad-diary-service.git
[submodule "services/assistant"]
	path = services/assistant
	url = git@github.com:IshrakAdit/abad-assistant-service.git
[submodule "services/assistant-ai"]
	path = services/assistant-ai
	url = git@github.com:IshrakAdit/abad-assistant-ai.git
[submodule "services/analyze"]
	path = services/analyze
	url = git@github.com:IshrakAdit/abad-analytic-service.git
[submodule "services/analyze-ai"]
	path = services/analyze-ai
	url = git@github.com:IshrakAdit/abad-analytic-ai.git
[submodule "services/auth"]
	path = services/auth
	url = git@github.com:IshrakAdit/abad-auth-service.git
[submodule "services/alert"]
	path = services/alert
	url = git@github.com:IshrakAdit/abad-alert-service.git
