[submodule "services/location"]
	path = services/location
	url = git@github.com:IshrakAdit/abad-location-service.git
[submodule "services/diary-ai"]
	path = services/diary-ai
	url = git@github.com:IshrakAdit/abad-diary-ai.git
[submodule "services/diary"]
	path = services/diary
	url = git@github.com:IshrakAdit/abad-diary-service.git
